* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  gap: 24px;
  padding: 0;
  margin: auto;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border-radius: 8px;
  position: relative;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease;
}

.gallery-item:hover .gallery-image {
  width: 376px;
  height: 208px;
  transform: translate(-8px, -4px);
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}
