.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.change-color {
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 148px;
  height: 40px;
}

.change-color:hover {
  background: #6c8cff;
}
